@charset="UTF-8";

div#menu nav{
    margin: 10px 0px 0px 450px;    
    display: block;
    font-family: candara;
    font-size: 13pt;    
    text-decoration: none;
}

div#menu ul{
    position: absolute;
    text-decoration: none;
}

div#menu li{
    display: inline-block;
    background-color:whitesmoke;
    padding: 10px;
    text-decoration: none;
    
}

a:link{
    text-decoration: none;
    color: #001c40;
}

a:visited{
    color: #001c40;
}

body{
    background-color: #001c40;
    font-family: candara;
}

div#formulario{
    background-color: white;
    width: 1200px;
    height: 720px;
    margin: 50px auto;
    padding: 50px 0px 0px 20px;    
}

h2{
    margin: 50px 0px 20px 0px;
    color: #001c40;
}

.txtCadastro{
    float: right;
    width: 270px;
    margin-right: 850px;
    padding: 0px 50px 10px 10px;
}

select#suadoacao{
    width: 220px;
    padding: 6px;
}

p label{
    margin: 30px 0px 0px 0px;
}

p#doacao{
    margin: 20px 0px 40px 80px;
    
}

#botao{
    width: 100px;
    padding: 6px;
    border-radius: 2px;
}

img#foto-agua{
    
}

figure{
    float: right;
    margin: -612px 200px 0px 0px;
}

figcaption{
    margin: 20px 0px 0px 140px;
}