* { margin: 0; padding: 0;}

html { height: 100%; font-size: 62.5% }

body {
height: 100%;
background-image: url("../imagens/background.jpg");
background-repeat: no-repeat; 
background-size: auto;
text-align: center;
//font: Verdana, Arial, Helvetica, sans-serif;
font-size: 16px;
}

/* Menu */

ul.menu {
list-style-type: none;
}

ul.menu li {
background: url('.img/menu-li-divider.gif') no-repeat 50% 100%;
font-family: candara;
padding: 18px 0;
}

ul.menu li a, ul.menu li a:visited {
color: #FFFFFF;
font-weight: normal;
text-decoration: none;
padding: 4px 7px;
}

ul.menu li a:hover, ul.menu li a.active {
background-color: #282828;
}

ul.menu li.last {
background: none;
}

ul.main-list {
list-style-type: none;
margin: 14px 0 20px 25px;
}

ul.main-list li {
line-height: 1.3;
margin-bottom: 12px;
color: #004F8B;
background: url('.img/bullet.gif') no-repeat 0 0;
padding-left: 27px;
}

a:link, a:visited {
color: #004F8B;
text-decoration: underline;
font-weight: bolder;
}

a:hover {
text-decoration: none;
}

.noscreen {
display: none;
}

/* Formatação dos botões e seus links */

button#btn-cadastrar{
	float: right;
	margin-top: -70px;
	margin-right: -180px;
	padding: 10px;
	width: 120px;
	background-color: #23355C;
	border-radius: 4px;
	color: white;
}

a#cadastrar, a:visited{
	text-decoration: none;
	color: white;
}

button#btn-login{
	padding: 8px;
	width: 320px;
	margin: 10px 42px;
	background-color: #23355C;
	border-radius: 4px;
	color: white;
}

a#login, a:visited{
	text-decoration: none;
	color: white;
}

label#esqueci{
	font-family: candara;
	font-size: 10pt;
	color: red;
	margin: 50px 150px;
	
}

label a#esquecisenha, a:visited{
	text-decoration: none;
	color: red;
}

/* Skip menu */

.hidden {
position: absolute;
top: -10000px;
left: 0;
width: 1px;
height: 1px;
overflow: hidden;
}

/* Headings, paragraphs */

.title {
background-color: #282828;
letter-spacing: 1px;
}

.title h3{
font-family: candara;
color: #FFFFFF;
margin: 4px 0 0 21px;
padding-bottom: 12px;
}

h1 {
font-family: candara;
font-size: 30pt;
color: #FFFFFF;
padding-top: 25px;
margin-left: 20px;
}

h1 a:link, h1 a:visited {
color: #FFFFFF;
text-decoration: none;
font-weight: normal;
}

h2 {
font-family: candara;
color: #282828;
letter-spacing: 1px;
background: url('.img/h2-bg.gif') no-repeat 0 53%;
padding-left: 25px;
margin-bottom: 7px;
}

/* Parágrafos que ficam abaixo do "Bem vindos ao Faça o Bem" */ 
p{
text-align: justify;
text-indent: 30px;
}

/* Wrapper */

#wrapper {
width: 751px;
margin: 60px auto 0 auto;
padding-bottom: 90px;
text-align: left;
opacity: 0.85;
}

#doe {
width: 522px;
opacity: 0.8;
}

#agua {
position: relative;
left: 50px;
}

/* Content box */

form{
	width: 400px;
	height: 100px;
	margin: auto;
}

input.txtlogin{
	margin-top: 16px;
	padding: 8px;
	width: 300px;
}

.content {
width: 850px;
margin: 19px auto 0 auto;
}

.column-left {
float: left;
width: 165px;
text-align: center;
color: #FFFFFF;
}

.column-left h3 {
margin: 10px 0 7px 0;
letter-spacing: 1px;
}

.column-right {
margin: 0 0 0 191px;
width: 650px;
}

.box-top {
background: url('.img/box-top.gif') no-repeat 0 0;
height: 12px;
}

.box {
background: url('.img/box-bg.gif') repeat-y 0 0;
width: 655px;
}

.box-in {
background-color: #FFFFFF;
padding: 0.8em 0 5em 0;
margin: 0 6em 0 2em;
}

.box-in p {
font-family: candara;
line-height: 1.6;
margin: 0 0 10px 25px;
color: #242424;
}

.box-bottom {
background: url('.img/box-bottom.gif') no-repeat 0 100%;
height: 48px;
}

/* Rodapé */

footer{
	margin: -50px 0px 0px 250px;
	font-family: candara;
}